<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS Picture Studio</title>
    <link rel="stylesheet" href="style.css"> <!-- Lien vers le fichier CSS -->
</head>
<body>

    <div class="navbar" id="navbar">
        <!-- Logo à gauche, sans balise <li> pour éviter la puce -->
        <a href="#" class="nav-link logo" data-section="accueil"><strong>JS PICTURE STUDIO</strong></a>
    
        <!-- Menu de navigation -->
        <ul>
            <li><a href="#" class="nav-link" data-section="AfriqueDuSud">AFRIQUE DU SUD</a></li>
            <li><a href="#" class="nav-link" data-section="soon">SOON ...</a></li>
            <li><a href="#" class="nav-link" data-section="contact">CONTACT</a></li>
        </ul>
    </div>
    

    <!-- Sections de contenu -->
    <div id="content">
        <div id="accueil" class="section active">
            <h1>Bienvenue sur notre site !</h1>
            <p>Portofolio personnel dans le cadre de partage de photo</p>

            <a href="roadTrip.html">Lien vers la gallery roadTrip </a>

            <br>

            <a href="Krug.html">Lien vers la gallery Kruger </a>
        </div>


        <div id="AfriqueDuSud" class="section">
            <div id="app1"> 
                <div class="category-nav">
                    <label>
                        <input type="radio" v-model="category" value=""> All
                    </label>
                    <label>
                        <input type="radio" v-model="category" value="Landscape"> Landscape
                    </label>
                    <label>
                        <input type="radio" v-model="category" value="Animal"> Animal
                    </label>
                </div>
        
                <transition-group appear tag="ul" class="category-list">
                    <li v-for="image in filterByCategory" :key="image.index">
                        <img :src="image.src" loading="lazy" @click="showImage(image.src)">
                    </li>
                </transition-group> 

                <!-- Modal for image preview -->
            <div v-if="isModalVisible" class="modal" @click="closeModal">
                <span class="close" @click="closeModal">&times;</span>
                <img class="modal-content" :src="selectedImage" @click.stop>

                <!-- Bouton de téléchargement -->
                <div class="download-button">
                    <button @click.stop.prevent="downloadImage">Télécharger</button>
                </div>

            </div>

            </div>
        </div>

        <div id="soon" class="section">
            <p>Un jour ce sera rempli</p>
        </div>

        <div id="contact" class="section">
            <h1>Contact</h1>
            <p>Contactez-nous ici.</p>
        </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script> 
    <script src="vue.js"></script> 
</body>
</html>
